body {
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.list-2 {
  line-height: 17px !important;
}

.gap-progress {
  background-color: #a48e6f !important;
}

.green-audio-player {
  width: 50% !important;
}

.progress__pin {
  background-color: #a48e6f !important;
}

#whats_caption {
  height: 300px !important;
}

.block-quote-copy {
  text-align: left !important;
}

.text-block-44 {
  font-size: 12px !important;
}

.glider-contain {
  width: 500px !important;
  margin: auto !important;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slides-container::-webkit-scrollbar {
  display: none;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.text-block-43-mobile {
  display: none;
}

.text-block-44-mobile {
  display: none;
}

.heading-12-copy-mobile {
  display: none;
}

.heading-12-mobile {
  display: none;
}

.w-col-4 {
  display: flex;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.key_button {
  background: black;
  border: 1px solid black;
}

.key_button:hover {
  border: 1px solid gray !important;
}

#key_text {
  align-items: center;
  margin: auto;
}

#key_grid {
  display: grid;
  align-self: flex-start;
  /*gap: 1px;*/
  grid-template-columns: repeat(3, 1fr);
  width: 48%;
}

#key_portrait_container {
  width: 0%;
  /*visibility: hidden;*/
  /*display: none;*/
  opacity: 0;
  transition: all 1s linear;
}

#key_grid_container  {
  /*transition: all 5s linear;*/
}

#sectheading {
  align-self: flex-start;
}

#w-node-_3ec08bc1-7e2a-bb8b-820e-afc3201ff179-c00b4143 {
  padding-bottom: 0;
}

#intro_text {
  width: 40vw;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px black;
  /*font-size: 18px;*/
  /*line-height: 30px;*/
}

#continue_key_button {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#button_elem {
  position: absolute;
  bottom: 20%;
  font-size: 17px;
  text-shadow: 2px 2px black;
  display: none;
}

#button_elem:hover {
  background-color: red;
  transition: 0.7s;
  font-size: 20px;
}

#intro_down_arrow {
  position: absolute;
  bottom: 1%;
  display: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

#grid_video {
  grid-column: span 2;
}

#ending_image {
  /*background-image: url('../images/DSC00160.jpg');*/
  /*width: 100%;*/
  animation-duration: 5000ms;
}

#mute_button {
  position: absolute;
  width: 80px;
  transform: translate(0px, -17px);
  bottom: 1%;
  display: block;
  left: 6%;
  bottom: 10%;
  z-index: 9999;
}

#key_button_text {
  padding: 20px;
}

.button:hover {
  text-decoration: underline;
}

#mood_board {
  height: 60vh;
}

#menu_container {
  display: block; /* The width is 100%, when the viewport is 800px or smaller */
  /*These are what were triggered in JS*/
  pointer-events: auto;
  left: 90%;
  visibility: visible;
  width: 180px;
}

#menu_list {
  font-size: 14px;
}

.linearfadedown {
  display: block;
}

.block-quote-copy {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.block-quote {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (max-width: 990px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #intro_text {
    width: 80vw;
    font-size: 18px;
    line-height: 30px;
  }

  .heading-7 {
    font-size: 20px;
  }

  .heading-8 {
    font-size: 28px;
  }

  .quick-stack-2 {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
  }

  .section-8 {
    height: 50%;
    margin: auto;
  }

  .image-10 {
    padding: 0;
  }

  .w-container {
    display: block !important;
  }

  #swiper_1 {
    width: 100% !important;
  }

  #swiper_cap_container {
    width: 100% !important;
  }

  #swiper_button_container {
    width: 100% !important;
    padding: 0 !important;
  }

  #left {
    width: 40px !important;
    padding-left: 20px !important;
    padding-top: 10px !important;
  }

  #right {
    width: 40px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
  }

  #slider_left {
    width: 20% !important;
    padding-left: 20px !important;
    padding-top: 10px !important;
  }

  #slider_right {
    width: 10% !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
  }

  #cap_div {
    padding: 10px !important;
    height: 100px;
  }

  #blockade {
    padding: 0;
  }

  .image-18 {
    width: 100%;
    padding-bottom: 0;
  }

  .image-15-copy {
    padding: 0 !important;
    padding-bottom: 20px !important;
  }

  .profilel {
    padding: 0;
  }

  .section-12 {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .block-quote {
    font-size: 20px !important;
  }

  .quick-stack-5 {
    display: block;
  }

  .quick-stack-6 {
    display: block !important;
    line-height: 20px !important;
  }

  .text-block-19 {
    width: 100% !important;
    line-height: 20px !important;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .caption {
    width: 100% !important;
    line-height: 20px !important;
  }

  .container-16 {
    display: block !important;
  }

  .image-15 {
    width: 100% !important;
  }

  .linearfadedown {
    height: 0;
  }

  .text-block-20-copy {
    padding-top: 0 !important;
  }

  .text-block-18 {
    display: block;
  }

  .text-block-23 {
    color: #ccc;
  }

  .text-block-18 > div {
    width: 100% !important;
  }

  .section-12-copy-copy {
    height: 55vh;
  }

  .heading-9 {
    font-size: 28px;
  }

  .heading-10 {
    font-size: 28px;
  }

  .image-19 {
    width: 100%;
  }

  .image-22 {
    width: 100%;
  }

  .text-block-32 {
    width: 100%;
  }

  .cell-10 > blockquote {
    font-size: 15px;
    line-height: 20px;
    padding: 0;
  }

  .w-layout-layout {
    /*display: block;*/
  }

  #w-node-b9319dd8-7d1d-be5b-841a-ad098347aac5-c00b4143,
  #w-node-_803be034-039d-4184-b5e8-02237ef8e90a-c00b4143,
  #w-node-b32ffbfc-65a3-70cd-9e05-050a5259f1b7-c00b4143,
  #w-node-_1d755cda-601c-b624-40ca-26290d3f6443-c00b4143 {
    display: block;
  }

  .w-layout-cell {
    margin-bottom: 10px;
  }

  #key_grid_container {
    display: flex !important;
  }

  .glider-contain {
    padding-top: 30px !important;
    width: 245px !important;
    margin: auto !important;
  }

  #key_grid_container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .caption_profile {
    width: 100vw !important;
    line-height: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .text-block-22 {
    width: 100% !important;
  }

  #menu_container {
    display: none !important; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .linearfadedown {
    display: none;
  }

  .div-block-21 {
    height: 15vh;
    font-size: 12px;
  }

  .div-block-23 {
    padding: 20px;
    font-size: 11px;
  }

  .div-block-22 {
    padding: 20px;
    font-size: 11px;
  }

  .text-block-46 {
    padding: 20px;
    font-size: 11px;
  }

  .image-34 {
    margin-bottom: 0;
    padding: 20px;
  }

  .section-16 {
    padding-bottom: 0;
  }

  .paragraph {
    padding: 20px;
    width: 100%;
    margin: 0;
  }

  .block-quote-copy {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }

  .block-quote {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }

  .profiletook2 {
    padding-bottom: 0;
  }

  .heading-12-copy {
    padding: 0;
  }

  .column-5 {
    display: none;
  }

  .columns-3 {
    /*width: auto;*/
    justify-content: center;
  }

  .w-col {
    width: auto;
  }

  /*.w-row {*/
  /*  padding-bottom: 20px;*/
  /*}*/

  /*.heading-12-copy {*/
  /*  display: block;*/
  /*  font-size: 29px;*/
  /*  position: static;*/
  /*  padding: 5px;*/
  /*  margin-left: 20px;*/
  /*  margin-right: 20px;*/
  /*  top: 0px;*/
  /*  left: 0px;*/
  /*  right: 0px;*/
  /*}*/

  .heading-12-mobile {
    display: block;
    z-index: 2;
    border: 1px solid var(--sand);
    color: var(--sand);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    font-family: PT Serif, serif;
    font-weight: 400;
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 40px;
  }

  .heading-12-copy-mobile {
    display: block;
    z-index: 2;
    border: 1px solid var(--sand);
    color: var(--sand);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    font-family: PT Serif, serif;
    font-weight: 400;
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 40px;
  }

  .text-block-43-mobile {
    display: block;
    padding: 20px;
    font-size: 11px;
    text-align: center;
  }

  .text-block-44-mobile {
    display: block;
    padding: 20px;
    padding-top: 0;
    font-size: 11px;
    text-align: center;
  }

  .heading-12 {
    display: none;
  }

  .text-block-43 {
    display: none;
    width: 100%;
  }

  .profiletook1 {
    padding: 0;
  }

  .w-col > img {
    width: 100%;
  }

  .text-block-45 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-copy {
    padding-bottom: 0;
  }

  .quick-stack-2-copy {
    padding: 20px;
  }

  .section-15 {
    padding: 20px;
  }

  .section-14 {
    padding: 20px;
  }

  .text-block-42 {
    padding-bottom: 20px;
  }

  img {
    padding-bottom: 20px;
  }

  #mood_board {
    padding: 20px;
    display: flex !important;
    margin: 0 !important;
  }

  .quick-stack-2-copy {
    display: block;
  }

  .text-block-18 {
    padding: 20px;
  }

  .div-block-18 {
    height: auto;
  }

  .quick-stack-5 {
    padding: 20px;
  }

  .quick-stack-6 {
    padding: 20px;
  }

  .profiler {
    height: auto;
    padding-bottom: 0;
  }

  .caption_profile {
    position: static;
    /*width: 0;*/
  }

  .image-15-copy {
    width: 100%;
    padding: 20px;
  }

  .div-block-17 {
    width: auto;
  }

  .text-block-17 {
    /*display: none;*/
  }

  .text-block-17-copy {
    /*display: none;*/
    top: -57vh;
    left: -6vw;
    padding: 25px;
    padding-right: 85px;
    font-size: 30px;
  }

  .text-block-17 {
    /*display: none;*/
    top: -80vh;
    left: -6vw;
    padding: 25px;
    padding-right: 85px;
    font-size: 30px;
  }

  .sarkis {
    position: relative;
    top: -100vh;
    left: 40vw;
    padding: 25px;
    padding-right: 32px;
    font-size: 30px;
    width: 40vw;
  }

  .div-block-12 {
    width: 10vw;
  }

  .div-block-16 {
    padding: 20px;
  }

  .div-block-15 {
    height: auto;
  }

  .text-block-20-copy {
    padding: 20px;
  }

  .column-3 {
    float: none;
    padding: 20px;
  }

  .image-23 {
    width: 100%;
  }

  .image-24 {
    width: 100%;
    margin-top: 20px;
  }

  .image-25 {
    width: 100%;
    margin-top: 20px;
  }

  .image-28 {
    width: 100%;
  }

  .image-29 {
    width: 100%;
    margin-top: 20px;
  }

  .image-30 {
    width: 100%;
    margin-top: 20px;
  }

  .section-15 {
    padding-top: 0;
  }

  #key_grid_container {
    display: block !important;
    padding-bottom: 0 !important;
  }

  #key_grid {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }

  #key_portrait_container {
    width: 80% !important;
    margin: auto !important;
    opacity: 1;
  }

  .heading-12-mobile {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-12-copy-mobile {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .quote  {
    line-height: 20px !important ;
  }

  .block-quote.quote {
    text-align: left;
  }

  .image-12 {
    padding: 0;
  }

  .swiper_cap_container {
    padding-top: 10px !important;
  }

  .text-block-18 {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0;
  }

  #w-node-_3ff396dd-82f3-9d30-4986-ab3749b88377-c00b4143 {
    padding-bottom: 0;
  }

  .image-15 {
    padding-top: 50px;
  }

  .text-block-17-copy  {
    /*display: flex !important;*/
    /*position: relative;*/
    /*top: 100px !important;*/
    /*visibility: hidden !important;*/
  }

  .green-audio-player {
    display: none !important;
  }

  #about {
    padding-left: 20px;
    padding-right: 20px;
  }
}
