body {
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text-block-43-mobile {
  display: none;
}

.text-block-44-mobile {
  display: none;
}

.heading-12-copy-mobile {
  display: none;
}

.heading-12-mobile {
  display: none;
}

.w-col-4 {
  display: flex;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#intro_text {
  width: 40vw;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px black;
}

#continue_key_button {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#button_elem {
  position: absolute;
  bottom: 20%;
  font-size: 17px;
  text-shadow: 2px 2px black;
  display: none;
}

#button_elem:hover {
  background-color: red;
  transition: 0.7s;
  font-size: 20px;
}

#intro_down_arrow {
  position: absolute;
  bottom: 1%;
  display: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

#grid_video {
  grid-column: span 2;
}

#mute_button {
  position: absolute;
  width: 80px;
  bottom: 1%;
  display: block;
  left: 4%;
  bottom: 10%;
  z-index: 9999;
}

#key_button_text {
  padding: 20px;
}

.button:hover {
  text-decoration: underline;
}

#mood_board {
  height: 60vh;
}

#menu_container {
  display: block; /* The width is 100%, when the viewport is 800px or smaller */
}

.linearfadedown {
  display: block;
}

.block-quote-copy {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.block-quote {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #menu_container {
    display: none; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .linearfadedown {
    display: none;
  }

  .div-block-21 {
    height: 15vh;
    font-size: 12px;
  }

  .div-block-23 {
    padding: 20px;
    font-size: 11px;
  }

  .div-block-22 {
    padding: 20px;
    font-size: 11px;
  }

  .text-block-46 {
    padding: 20px;
    font-size: 11px;
  }

  .image-34 {
    margin-bottom: 0;
    padding: 20px;
  }

  .section-16 {
    padding-bottom: 0;
  }

  .paragraph {
    padding: 20px;
    width: 100%;
    margin: 0;
  }

  .block-quote-copy {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }

  .profiletook2 {
    padding-bottom: 0;
  }

  .heading-12-copy {
    padding: 0;
  }

  .column-5 {
    display: none;
  }

  .columns-3 {
    /*width: auto;*/
    justify-content: center;
  }

  .w-col {
    width: auto;
  }

  /*.w-row {*/
  /*  padding-bottom: 20px;*/
  /*}*/

  /*.heading-12-copy {*/
  /*  display: block;*/
  /*  font-size: 29px;*/
  /*  position: static;*/
  /*  padding: 5px;*/
  /*  margin-left: 20px;*/
  /*  margin-right: 20px;*/
  /*  top: 0px;*/
  /*  left: 0px;*/
  /*  right: 0px;*/
  /*}*/

  .heading-12-mobile {
    display: block;
    z-index: 2;
    border: 1px solid var(--sand);
    color: var(--sand);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    font-family: PT Serif, serif;
    font-weight: 400;
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 40px;
  }

  .heading-12-copy-mobile {
    display: block;
    z-index: 2;
    border: 1px solid var(--sand);
    color: var(--sand);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    font-family: PT Serif, serif;
    font-weight: 400;
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 40px;
  }

  .text-block-43-mobile {
    display: block;
    padding: 20px;
    font-size: 11px;
    text-align: center;
  }

  .text-block-44-mobile {
    display: block;
    padding: 20px;
    padding-top: 0;
    font-size: 11px;
    text-align: center;
  }

  .heading-12 {
    display: none;
  }

  .text-block-43 {
    display: none;
  }

  .profiletook1 {
    padding: 0;
  }

  .w-col > img {
    width: 100%;
  }

  .text-block-45 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-copy {
    padding-bottom: 0;
  }

  .quick-stack-2-copy {
    padding: 20px;
  }

  .section-15 {
    padding: 20px;
  }

  .section-14 {
    padding: 20px;
  }

  .text-block-42 {
    padding-bottom: 20px;
  }

  img {
    padding-bottom: 20px;
  }

  #mood_board {
    padding: 20px;
  }

  .text-block-18 {
    padding: 20px;
  }

  .div-block-18 {
    height: auto;
  }

  .quick-stack-5 {
    padding: 20px;
  }

  .quick-stack-6 {
    padding: 20px;
  }

  .profiler {
    height: auto;
  }

  .caption_profile {
    position: static;
    /*width: 0;*/
  }

  .image-15-copy {
    width: 100%;
    padding: 20px;
  }

  .div-block-17 {
    width: auto;
  }

  .text-block-17 {
    display: none;
  }

  .text-block-17-copy {
    display: none;
  }

  .div-block-16 {
    padding: 20px;
  }

  .div-block-15 {
    height: auto;
  }

  .text-block-20-copy {
    padding: 20px;
  }

  .column-3 {
    float: none;
    padding: 20px;
  }
}
